# Logs
logs
*.log
npm-debug.log*

# Bundler related directories
.cache
dist
.next

# Dependency directories
node_modules

# Files to ignore
.env.*
next-env.d.ts
pnpm-lock.yaml
members.json
firebase-hosting-*.yml

# Directories to ignore
.vscode
.DS_Store