# Logs
logs
*.log
npm-debug.log*

# Bundler related directories
.cache
dist

# Dependency directories
node_modules/
-parcel-cache/

# Files to ignore
clubReact/package-lock.json
clubReact/.proxyrc.json
*.js
*.js.map

# Directories to ignore
.vscode
.DS_Store
clubReact/node_modules/
clubReact/.parcel-cache/
clubReact/.cache/
clubReact/dist/
clubReact/src/ui-tests/
clubReact/clubServer/