@import "designsystem"

// .adminActivityView
// 	display: grid
// 	grid-template-rows: repeat(2, minmax(0, 1fr))
// 	grid-gap: 1em
// 	justify-content: center

.activityView
	@extend .article-content
	justify-content: center
	padding: 8rem 2rem

.activity-table
	border: 0rem
	font-family: $Nunito
	font-size: $text-sm
	background-color: $primary_2
	@include responsive($md)
		font-size: $text-base
	@include responsive($lg)
		width: 75%
		font-size: $text-lg
	th
		width: 33.33%
		text-align: center
		padding: 1rem 2rem
		outline: 0.1rem solid $primary
		@include responsive($lg)
			padding: 2rem
	td
		padding: 0.5rem
		outline: 0.1rem solid $primary
		button
			@include styled-buttons
	.data-center
		width: 5%
		text-align: center
		@include responsive($lg)
			padding: 1.5rem
		@include responsive($xl2)
			padding: 2rem
