@import "designsystem"

.full-w-flex
	display: flex
	width: 100%
	align-items: center

nav
	@extend .full-w-flex
	flex-shrink: 1
	justify-content: space-between
	background-color: $secondary
	padding: 1rem
	span
		display: inline-flex
		justify-content: center
		h1
			color: $tertiary_2
			font-family: $Catamaran
			margin-right: -0.5rem
			letter-spacing: 0.5rem
			font-size: $text-4xl
			font-weight: 600
			@include responsive($md)
				font-weight: 700
				margin-right: -1rem
				letter-spacing: 1rem
			@include responsive($lg)
				font-size: $text-5xl
		.full-menu
			display: none
			list-style-type: none
			column-gap: 1rem
			button
				color: $white
				@include styled-buttons
			@include responsive($lg)
				display: inline-flex
		.sandwich-menu
			display: inline-flex
			flex-direction: column
			row-gap: 0.5rem
			padding: 1rem 0.75rem
			@include responsive($lg)
				display: none

footer
	@extend	.full-w-flex
	flex-shrink: 1
	justify-content: start
	background-color: $tertiary_2
	font-size: $text-base
	font-family: $Nunito
	color: $tertiary
	padding: 1rem
	@include responsive($md)
		font-size: $text-lg
	@include responsive($lg)
		font-size: $text-lg
		padding: 1.5rem 1rem
	p
		width: 100%
		text-align: left
