.login_content
	display: grid
	grid-template-columns: repeat(2, 1fr)
	grid-row-gap: 1em
	justify-items: center
	align-items: center

.login_form
	padding: 1%
	display: grid
	grid-template-columns: 0.5fr 1fr
	grid-gap: 1em
	background-color: #00a345
	width: 25em
	height: 7em

form > a
	text-align: center

.doodle_section
	grid-column: span 2
	width: 50%
	padding: 1em
	border: 3px dashed black

.doodle_section > svg
	border: 5px solid #004e2e
	background-color: #ffffff